:root {
    --font: Verdana, 'Geneva', sans-serif;
    --font-header: 'Times New Roman', serif;
    --dark-blue: #202758;
    --light-blue: #6a72a7;
    --hover-color: rgba(107, 125, 167, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background: whitesmoke;
}

#sailio {
    max-width: 80%;
    margin: 0 auto;
    background: #E5C3A6;
    min-height: 100vh;
}


header {
    background: var(--dark-blue);
    min-height: 100px;
    padding: 1rem;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 40px;
    font-family: var(--font-header);
    margin-bottom: 1rem;
}

/*NAVIGATION*/

.mobile-nav {
    display: none;
}

#myLinks {
    display: none;
    width: 100%;
}

#myLinks a {
    color: white;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

#myLinks a:hover {
    background: var(--hover-color);
}

nav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 2rem 0;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
}

nav ul li {
    padding: 1rem;
}

nav ul li:hover {
    background: var(--hover-color);
}

/*
a:visited {
    color: rgb(243, 21, 169);
}
*/

/* MAIN */

main {
    background: var(--light-blue);
    color: var(--dark-blue);
    padding: 1rem 0;
}

main h2 {
    margin-left: 1rem;
}

#tervetuloa {
    background: white;
    color: black;
    margin: 1rem 0;
    padding: 2rem;
    display: flex;
}


#tervetuloa img {
    max-width: 200px;
    object-fit: cover;
    margin: 0 1rem;
    
}

/*Skill cards*/

#skills {
    background: var(--dark-blue);
    margin: 1rem 0;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    min-width: 150px;
    max-width: 350px;
    background: white;
    color: black;
    margin: 1rem;
    padding: 1rem;
    font-size: 12px;
    border-radius: 5px;
}

.card h3 {
    text-align: center;
    margin-bottom: 1rem;
}



/*FOOTER*/

footer {
    display: flex;
    min-height: 100px;
}

#socials {
    flex: 1;
    margin: 1rem;
    padding: 1rem;
}

#stuff {
    flex: 2;
    margin: 1rem;
    padding: 1rem;
}

#copy {
    font-size: 10px;
    margin-top: 1rem;
}

/*MOBIILI*/

@media only screen and (max-width: 600px)
{

#sailio {
    max-width: 100%;
}

#tervetuloa {
    flex-direction: column;

}

#tervetuloa img {
    max-width: 100%;
    margin: 1rem;
}

footer {
    display: block;
    text-align: center;
}

.mobile-nav {
    display: block;
}

.menu {
    display: none;
}

#skills {
    flex-direction: column;
    padding: 0 0 1rem 0;
}

.card {
    max-width: 100%;
    padding: 1rem;
    margin: 1rem 0 0 0;
}

}